/* GLOBAL */ 
*{
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* FIN GLOBAL */



/* ========= HEADER ========= */

header{
    background-color: #F3E9F1;
}

.logoOrinoco{
    width: 300px;
    height: 150px;
    padding-left: 20px;
}

/* ============= LIEN PANIER ============== */ 

.shopping{
    color: black !important;
    font-weight: 600;
    font-size: 17px;
    border: 2px solid black;
    text-align: center;
}

.shopping:hover{
    color: gray!important;
}

.shoppingDiv{
    margin-right: 10px;
}

/* =========== FIN LIEN PANIER ============ */
/* ======= FIN HEADER ======= */



/* =============================================================================================================== */ 



/**** CAMERAS ****/ 
.flexContainer{
    padding-top: 50px;
    padding-bottom: 65px;
    display: flex;
    justify-content: space-evenly;
}

.camera > a, .camera2 > a{
    text-decoration: none!important;
    color: black!important;
}

.cameraCont{
    row-gap: 27px;
}

.cameraCont2{
    row-gap: 90px;
}

h1{
    padding-top: 15px;
    padding-bottom: 15px;
}

article > p{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 15px;
}

.camera, .camera2{
    position: relative;
}

.camera img{
    width: 346px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: block;
}

.camera2 img{
    width: 346px;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: block;
}

figure{
    width: 350px;
    border: 2px solid #A9A9A9;
    box-shadow: 10px 10px 5px #ccc;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: unset;
}

figcaption > h2{
    font-size: 16px;
    padding-top: 5px;
}

/* Hover Camera */ 

.knowMore{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.knowMore:hover{
    opacity: 1;
    cursor: pointer;
}

.knowMoreTitle{
    font-size: 2em;
    font-weight: bold;
}

.knowMoreText{
    font-size: 1.25em;
    margin-top: 0.25em;
}

/* Fin Hover Camera */ 

/**** FIN CAMERAS ****/ 




/* =============================================================================================================== */ 

/* =============================================================================================================== */ 



/* ========= FOOTER ========= */

footer{
    bottom: 0;
}

.aFooter{
    text-decoration: none;
    padding-left: 10px;
}

.list-group-item{
    background-color: #F3E9F1 !important;
}

/* ======= FIN FOOTER ======= */

/* MEDIA QUERIES INDEX.HTML */
@media screen and (max-width: 900px){
    .camera2 img{
        height: 200px;
    }

    .cameraCont2{
        row-gap: 15px;
        padding-top: 15px;
    }

    .flexContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* FIN MEDIA QUERIES INDEX.HTML */ 

/*
====================================================================================================================
====================================================================================================================
*/

/* /// CART HTML /// */
.cartContain{
    height: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.shoppingDiv > a{
    text-decoration: none;
    color: black;
}

.shoppingDiv > a:hover{
    color: gray;
}
/* /// FIN CART HTML /// */

/*
====================================================================================================================
====================================================================================================================
*/

/* / CONFIRMATION.HTML / */ 

.confContain{
    height: 1200px;
}

/* / FIN CONFIRMATION.HTML / */ 

/* CART.HTML */
#containerProducts{
    height: 550px;
}
/* FIN CART.HTML */ 